<p class="page-title">Research Interests</p>

<div class="container">
  <div class="row">
    <img src="assets/images/word-cloud.png" alt="Word Cloud" class="word-cloud">
  </div>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <p class="subtitle">The Story of my Research Work ...</p>
      <p class="page-text">
        Since my second year of bachelor studies I am involved in the research area of
        <span class="subtitle-font">linear programming and interior-point algorithms</span>.
        During that year I was researching the solution of linear complementarity (LCP) and
        weighted linear complementarity problems (WLCP), through reading articles and implementing a
        <span class="subtitle-font">solver application</span>.
        After finishing my bachelor studies, I started to search after similar topics and develop further my application.
        In the year of 2022, during master studies, I participated in a <span class="subtitle-font">conference</span> too,
        organized by the <span class="subtitle-font">Transylvanian Museum Association (eme)</span> research group,
        where I presented my solver's solutions, my observations and conclusions related to WLCPs. Also now I am part of
        this research group and I am continuing my project in this area.
      </p>
      <p class="page-text">
        Nowadays, I am also doing research on <span class="subtitle-font">web development</span> and I am involved in topics like
        responsive and adaptive web design, web services and security. My work focuses on a systematic study on the
        security features provided by SOAP and RESTful Services and tries to address the different issues faced in
        security and presents the research scope in the area of <span class="subtitle-font">web security</span>.
      </p>
    </div>
  </div>

</div>

