<br>
<img routerLink="/" src="assets/images/new_logo.png" alt="Logo" class="center">

<nav class="navbar navbar-expand-sm navbar-text">
  <div class="container-fluid topnav">

    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/">home</a>
      </li>
    </ul>

    <button class="navbar-toggler menu-button" (click)="collapsed = !collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span><img src="assets/images/menu-bar.png" class="menu-bar" alt="menu"/></span>
    </button>

    <div (window:resize)="collapsed = true" [class.collapse]="collapsed" class="collapse navbar-collapse"
         id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li ngbDropdown class="nav-item">
          <a ngbDropdownToggle class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            teaching
          </a>
          <ul ngbDropdownMenu aria-labelledby="navbarDropdown">
            <li><a ngbDropdownItem (click)="collapsed = true" routerLink="teaching/subjects">subjects</a></li>
            <li><a ngbDropdownItem (click)="collapsed = true" routerLink="teaching/timetable">timetable</a></li>
            <li><a ngbDropdownItem (click)="collapsed = true" routerLink="teaching/consulting_hours">consulting hours</a></li>
          </ul>
        </li>

        <li ngbDropdown class="nav-item">
          <a ngbDropdownToggle class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            research
          </a>
          <ul ngbDropdownMenu aria-labelledby="navbarDropdown">
            <li><a ngbDropdownItem (click)="collapsed = true" routerLink="research/interests">interests</a></li>
            <li><a ngbDropdownItem (click)="collapsed = true" routerLink="research/projects">projects</a></li>
            <li><a ngbDropdownItem (click)="collapsed = true" routerLink="research/publications">publications</a></li>
          </ul>
        </li>

        <li ngbDropdown class="nav-item">
          <a ngbDropdownToggle class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            about me
          </a>
          <ul ngbDropdownMenu aria-labelledby="navbarDropdown">
            <li><a ngbDropdownItem (click)="collapsed = true" routerLink="about_me/personal_infos">personal infos</a></li>
            <li><a ngbDropdownItem (click)="collapsed = true" routerLink="about_me/curriculum_vitae">curriculum vitae</a></li>
          </ul>
        </li>

        <li class="nav-item li-border">
          <a class="nav-link" aria-current="page" (click)="collapsed = true" routerLink="/contact">contact</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
