<footer class="fixed-bottom">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-sm-4"></div>
      <div class="col-sm-1">
        <a href="https://www.cs.ubbcluj.ro/" target="_blank"><img src="assets/images/ubb-logo.png" alt="Ubb-logo" class="footer-logo"></a>
      </div>
      <div class="col-sm-1">
        <a href="https://www.linkedin.com/in/zsanett-jakab/" target="_blank"><img src="assets/images/linkedin-logo.png" alt="LinkedIn-logo" class="footer-logo"></a>
      </div>
      <div class="col-sm-1">
        <a href="https://github.com/zsanett28" target="_blank"><img src="assets/images/github-logo.png" alt="Github-logo" class="footer-logo"></a>
      </div>
      <div class="col-sm-1">
        <a href="https://www.facebook.com/jakab.zsanett.7" target="_blank"><img src="assets/images/facebook-logo.png" alt="Facebook-logo" class="footer-logo"></a>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center footer-text">© 2023 Zsanett Jakab</div>
    </div>
  </div>
</footer>
