@import "src/styles/colors.scss";

footer {
  width: 100%;
  background-color: $lightblue;
  padding: 0.5%;
}

.footer-logo {
  display: block;
  width: 38px;
  cursor: pointer;
  margin: auto;
}

.footer-text {
  font-size: 12px;
  font-style: italic;
  color: $primary-color;
  padding-top: 0.3%;
}

.col-sm-1 {
  flex: 0 0 auto;
  width: 5%;
}

.col-sm-4 {
  flex: 0 0 auto;
  width: 40%;
}

@media screen and (max-width: 900px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: 7.5%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 35%;
  }
}

@media screen and (max-width: 575.5px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: 10%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 30%;
  }

  footer {
    position: fixed;
  }
}

@media screen and (max-width: 400px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: 15%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 20%;
  }
}

@media (max-width: 479.5px) {
 footer {
   position: relative;
 }
}
