<p class="page-title">Research Publications</p>

<div class="container">
  <div class="row">
    <p class="subtitle mt-2">2022</p>
    <p class="text-justify">
      Zs. Darvay, Zs. Jakab: <b>Algebraically equivalent transformation technique for weighted linear complementarity problems</b>,
      In E. Bitay (ed.) Proceedings of the XXVII-th international scientific conference of young engineers, Papers on Technical Science,
      2022. (<a href="assets/documents/DZs_JZs_2022_EN.pdf" download class="download-document">download pdf</a>)
    </p>
  </div>

  <div class="row margin-bottom">
    <p class="subtitle mt-2">2021</p>
    <p class="text-justify">
      Zs. Darvay, Zs. Jakab: <b>Analyse the results giving by the solver of weighted linear complementarity problems</b>,
      Papers on Technical Science,
      2021.
    </p>
    <p class="text-justify">
      Zs. Darvay, Zs. Jakab: <b>Implementation of interior point algorithms in Java language for weighted linear complementarity problems</b>,
      Papers on Technical Science,
      2021.
    </p>
  </div>


</div>

