<p class="page-title">Teaching Timetable</p>

<div class="container">
  <div class="row">

    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead>
          <tr class="bg-blue table-footer">
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>

        <tbody>

        <tr>
          <td class="align-middle bg-blue font-size12">8:00-10:00</td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-light-blue">
            <p class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size12 ">
              <a routerLink="/teaching/subjects" fragment="sbj-3"  class="no-design">Web Technologies</a>
            </p>
            <div class="professor-name text-primary-color"><b>Lab - SIA 2</b></div>
            <div class="professor-name text-primary-color">Zsanett Jakab</div>
          </td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-light-blue">
            <p class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size12  ">
              <a routerLink="/teaching/subjects" fragment="sbj-2"  class="no-design">Responsive Web Design</a>
            </p>
            <div class="professor-name text-primary-color"><b>Lab - ICA 2</b></div>
            <div class="professor-name text-primary-color">Zsanett Jakab</div>
          </td>

        </tr>

        <tr>
          <td class="align-middle bg-blue font-size12">10:00-12:00</td>

          <td class="bg-light-blue">
            <p class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size12 ">
              <a routerLink="/teaching/subjects" fragment="sbj-3"  class="no-design">Web Technologies</a>
            </p>
            <div class="professor-name text-primary-color"><b>Course</b></div>
            <div class="professor-name text-primary-color">Dr.Sanda-Maria Avram</div>
          </td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-light-blue">
            <p class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size12 ">
              <a routerLink="/teaching/subjects" fragment="sbj-1"  class="no-design">Basics of Web Designing</a>
            </p>
            <div class="professor-name text-primary-color"><b>Course</b></div>
            <div class="professor-name text-primary-color">Dr.Sanda-Maria Avram</div>
          </td>

          <td class="bg-light-blue">
            <p class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size12 ">
              <a routerLink="/teaching/subjects" fragment="sbj-3"  class="no-design">Web Technologies</a>
            </p>
            <div class="professor-name text-primary-color"><b>Lab - STD 2</b></div>
            <div class="professor-name text-primary-color">Zsanett Jakab</div>
          </td>

          <td class="bg-extra-light-blue"></td>

        </tr>

        <tr>
          <td class="align-middle bg-blue font-size12">12:00-14:00</td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-light-blue">
            <p class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size12  ">
              <a routerLink="/teaching/subjects" fragment="sbj-2"  class="no-design">Responsive Web Design</a>
            </p>
            <div class="professor-name text-primary-color"><b>Course</b></div>
            <div class="professor-name text-primary-color">Dr.Sanda-Maria Avram</div>
          </td>

          <td class="bg-extra-light-blue"></td>

        </tr>

        <tr>
          <td class="align-middle bg-blue font-size12">14:00-16:00</td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-extra-light-blue"></td>

        </tr>

        <tr>
          <td class="align-middle bg-blue font-size12">16:00-18:00</td>

          <td class="bg-light-blue">
            <p class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size12 ">
              <a routerLink="/teaching/subjects" fragment="sbj-3"  class="no-design">Web Technologies</a>
            </p>
            <div class="professor-name text-primary-color"><b>Lab - SIA 1</b></div>
            <div class="professor-name text-primary-color">Zsanett Jakab</div>
          </td>

          <td class="bg-light-blue">
            <p class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size12 ">
              <a routerLink="/teaching/subjects" fragment="sbj-3"  class="no-design">Web Technologies</a>
            </p>
            <div class="professor-name text-primary-color"><b>Lab - STD 1</b></div>
            <div class="professor-name text-primary-color">Zsanett Jakab</div>
          </td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-light-blue">
            <p class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size12 ">
              <a routerLink="/teaching/subjects" fragment="sbj-1"  class="no-design">Basics of Web Designing</a>
            </p>
            <div class="professor-name text-primary-color"><b>Lab - SIA 2</b></div>
            <div class="professor-name text-primary-color">Zsanett Jakab</div>
          </td>

        </tr>

        <tr>
          <td class="align-middle bg-blue font-size12">18:00-20:00</td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-extra-light-blue"></td>

          <td class="bg-light-blue">
            <p class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size12 ">
              <a routerLink="/teaching/subjects" fragment="sbj-1"  class="no-design">Basics of Web Designing</a>
            </p>
            <div class="professor-name text-primary-color"><b>Lab - SIA 1</b></div>
            <div class="professor-name text-primary-color">Zsanett Jakab</div>
          </td>

          <td class="bg-light-blue">
            <p class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size12  ">
              <a routerLink="/teaching/subjects" fragment="sbj-2"  class="no-design">Responsive Web Design</a>
            </p>
            <div class="professor-name text-primary-color"><b>Lab - ICA 1</b></div>
            <div class="professor-name text-primary-color">Zsanett Jakab</div>
          </td>

          <td class="bg-extra-light-blue"></td>

        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
