<p class="page-title">Personal Infos</p>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <p class="subtitle">Education</p>
      <p class="page-text">
        Since highschool I am involved in the world of computers. After graduating from a class of mathematics and computer science,
        intensive german, I started to study <span class="subtitle-font">Business Computer Science</span> at the Babeș-Bolyai University.
        I also participated in a <span class="subtitle-font">German Language Summer School</span> in Bayreuth, Germany. I will complete my
        master studies in <span class="subtitle-font">Computer Science</span> this year.
      </p>
    </div>
    <div class="col-md-6">
      <img src="assets/images/education.png" alt="Education Logo" class="center bigger-margin-top">
    </div>
    <div class="col-md-6">
      <img src="assets/images/education.png" alt="Education Logo" class="center-after-paragraph">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/work.png" alt="Work Logo" class="center margin-top">
    </div>
    <div class="col-md-6">
      <p class="subtitle">Work</p>
      <p class="page-text">
        I work as a <span class="subtitle-font">teaching assistant</span> for 1 year at the Babeș-Bolyai University. Beside
        this job I am also a <span class="subtitle-font">programmer</span> at MHP - A Porsche Company. I love my jobs,
        because I have the chance to improve my professional and
        soft skills, to be part of cool teams, and to cooperate with others.
      </p>
    </div>
    <div class="col-md-6">
      <img src="assets/images/work.png" alt="Work Logo" class="center-after-paragraph">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p class="subtitle">Personal Life</p>
      <p class="page-text">
        My personal life is full with joy, but challenges too. I spend a lot of time with my
        <span class="subtitle-font">family</span>, <span class="subtitle-font">friends</span> and
        with my beloved <span class="subtitle-font">partner</span>. I have a lot of <span class="subtitle-font">hobbies</span>,
        and I like to have long <span class="subtitle-font">walks in the nature</span>, to have some meaningful
        <span class="subtitle-font">conversations beside a warm black tea</span>, or just to sit on my balcony and
        <span class="subtitle-font">admire the sunset</span>.
      </p>
    </div>
    <div class="col-md-6">
      <img src="assets/images/life.png" alt="Life Logo" class="center margin-top">
    </div>
    <div class="col-md-6">
      <img src="assets/images/life.png" alt="Life Logo" class="center-after-paragraph">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/person.png" alt="Person Logo" class="center margin-top">
    </div>
    <div class="col-md-6">
      <p class="subtitle">Some more personal stuff about me..</p>
      <p class="page-text">
        I am in general a <span class="subtitle-font">patient</span> person. I love to <span class="subtitle-font">help others</span>
        and be surrounded by curious, open and friendly people. I also try to <span class="subtitle-font">learn new things</span> in
        my free time, one of my near future plans in to learn to play the piano. I am a <span class="subtitle-font">persistent</span>
        and <span class="subtitle-font">precise</span> person, I also try to be not so perfectionist all the time.
        My motto is: "Be faithful in small things because it is in them that your strength lies".
      </p>
    </div>
    <div class="col-md-6">
      <img src="assets/images/person.png" alt="Person Logo" class="center-after-paragraph">
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-6">
      <p class="subtitle">Hobbies</p>
      <p class="page-text">
        I have a lot of hobbies, including any kind of sports, art, music and design. I love to be
        <span class="subtitle-font">creative</span> and make something with my own hands.
        One of my first hobbies was <span class="subtitle-font">decorating wood objects</span> using decoupage technique.
        In my highschool I used to play basketball, but now, as I don't have a team with I could play, I started to go
        <span class="subtitle-font">running</span>. I also <span class="subtitle-font">draw or paint</span> sometimes,
        I play the <span class="subtitle-font">guitar</span> or just listen to music,
        and I realized a few years ago that it's also fun for me to <span class="subtitle-font">design</span> websites,
        greeting cards, invitation cards, collages.
      </p>
    </div>
    <div class="col-md-6">
      <img src="assets/images/hobbies.png" alt="Hobbies Logo" class="center bigger-margin-top">
    </div>
    <div class="col-md-6">
      <img src="assets/images/hobbies.png" alt="Hobbies Logo" class="center-after-paragraph">
    </div>
  </div>

</div>

