<div class="circle-container">
  <div class="outer-circle">
    <div class="inner-circle">
      <div class="inner-circle-content">
        <p class="text-center circle-text">Computer Science Studies</p>
        <img src="assets/images/education.png" alt="Education Logo" class="small-icon">
      </div>
    </div>
  </div>

  <div class="outer-circle">
    <div class="inner-circle">
      <div class="inner-circle-content">
        <p class="text-center circle-text">Programmer and Teaching Assistant</p>
        <img src="assets/images/work.png" alt="Work Logo" class="small-icon">
      </div>
    </div>
  </div>

  <div class="outer-circle">
    <div class="inner-circle">
      <div class="inner-circle-content">
        <p class="text-center circle-text">Developing my technical skills through projects</p>
        <img src="assets/images/idea.png" alt="Idea Logo" class="small-icon">
      </div>
    </div>
  </div>
</div>
