@import "src/styles/colors.scss";

.page-title {
  color: $primary-color;
  font-variant: small-caps;
  font-family: "Bradley Hand ITC", serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 28px;
  text-align: center;
  margin-top: 2%;
}

.container {
  margin-top: 3%;
  max-width: 900px;
}

p.subtitle-font {
  color: $primary-color;
  font-variant: small-caps;
  font-family: "Bradley Hand ITC", serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  margin-top: 5%;
}

span.subtitle-font-2 {
  color: $secondary-color;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.subject-box {
  background-color: #dff1fb;
  border: 1px solid #41729F;
  border-radius: 10%;
  width: 40%;
  margin: 2% auto;
  padding: 2%;
}

.margin-bottom {
  margin-bottom: 15%;
}

@media (max-width: 991.5px) {
  .subject-box {
    width: 45%;
  }
}

@media (max-width: 575.5px) {
  .subject-box {
    width: 70%;
    margin: 3% auto;
  }
}

@media (max-width: 480px) {
  .subject-box {
    width: 80%;
    margin: 3% auto;
  }
}
