<p class="page-title">Research Projects</p>

<div class="container">

  <div class="row">
    <div class="col-md-6 subject-box">
      <p class="subtitle-font">LCP SOLVER</p>
      <ul>
        <li><span class="subtitle-font-2">Description: </span>developing an application for solving linear
          complementarity problems using interior-point algorithm</li>
        <li><span class="subtitle-font-2">Period: </span>2021</li>
        <li><span class="subtitle-font-2">Research Group: </span>
          <a class="text-dark" href="https://eme.ro/en/main" target="_blank">Transylvanian Museum Association - EME</a></li>
      </ul>
    </div>

    <div class="col-md-6 subject-box">
      <p class="subtitle-font">WLCP SOLVER</p>
      <ul>
        <li><span class="subtitle-font-2">Description: </span>improving an application for solving weighted linear
          complementarity problems</li>
        <li><span class="subtitle-font-2">Period: </span>2021 - 2022</li>
        <li><span class="subtitle-font-2">Research Group: </span>
          <a class="text-dark" href="https://eme.ro/en/main" target="_blank">Transylvanian Museum Association - EME</a></li>
      </ul>
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-6 subject-box">
      <p class="subtitle-font">AET in LCPs and WLCPs</p>
      <ul>
        <li><span class="subtitle-font-2">Description: </span>interior-point algorithms for linear complementarity
          and weighted complementarity problems based on a new class of algebraically equivalent transformations</li>
        <li><span class="subtitle-font-2">Period: </span>2022 - present</li>
        <li><span class="subtitle-font-2">Research Group: </span>
          <a class="text-dark" href="https://eme.ro/en/main" target="_blank">Transylvanian Museum Association - EME</a></li>
      </ul>
    </div>

    <div class="col-md-6 subject-box">
      <p class="subtitle-font">ASCW project</p>
      <ul>
        <li><span class="subtitle-font-2">Description: </span> analysing the differences of architectures and security concepts of web services</li>
        <li><span class="subtitle-font-2">Period: </span>2022 - present</li>
        <li><span class="subtitle-font-2">Research Group: </span>
          <a class="text-dark" href="http://www.cs.ubbcluj.ro/sdcw/" target="_blank">Distributed Systems and Web Communication Research Group</a></li>
      </ul>
    </div>
  </div>

</div>

