/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'styles/colors.scss';

html body {
  background-image: url("assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width:100%;
}
