<div class="container">
  <div class="row">
    <div class="col-md-8 greeting-box">
      <div class="greeting-message">
        <p><span class="title-font">Hello there!</span></p>
        <p>My name is <span class="subtitle-font">Zsanett</span> and I am a teaching assistant at the Faculty of Mathematics
          and Computer Science, Babeș-Bolyai University in Cluj-Napoca.</p>
        <p>Let's dive into the world of <span class="subtitle-font-2">web </span> together!
          <img src="/assets/images/laptop-icon.png" alt="Laptop-logo" class="small-icon"></p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/assets/images/home-profile.png" alt="Profile Picture" class="left">
    </div>
  </div>
  <div class="row sub-row">
    <div class="col-sm-6">
      <p class="small-text"><span class="subtitle-font">Email: </span><a href="mailto:jakabzsanett10@gmail.com" target="_blank" class="email-link">jakabzsanett10@gmail.com</a></p>
    </div>
    <div class="col-sm-6">
      <p class="small-text"><span class="subtitle-font">Department: </span>Computer Science</p>
    </div>
  </div>
</div>
