<p class="page-title">Consulting hours</p>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <p class="subtitle"> Topics from different subjects</p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4 subject-box">
      <p class="subtitle-font"> Basics of Web Designing</p>
      <p class="text-center">Consulting hours: </p>
      <p class="subtitle-font-2">Wednesday, 16:00-17:00</p>
      <p class="subtitle-font-3">Room 405</p>
    </div>

    <div class="col-md-4 subject-box">
      <p class="subtitle-font"> Responsive Web Design</p>
      <p class="text-center">Consulting hours: </p>
      <p class="subtitle-font-2">Wednesday, 17:00-18:00</p>
      <p class="subtitle-font-3">Room 405</p>
    </div>

    <div class="col-md-4 subject-box">
      <p class="subtitle-font"> Web Technologies</p>
      <p class="text-center">Consulting hours: </p>
      <p class="subtitle-font-2">Thursday, 16:00-17:00</p>
      <p class="subtitle-font-3">Room 405</p>
    </div>

  </div>

  <div class="row">
    <img src="/assets/images/clock.png" alt="Clock Logo" class="clock-img">
  </div>

  <div class="row margin-bottom">

    <div class="col-md-6">
      <p class="subtitle mt-2"> Writing scientific papers</p>
      <div class="bordered-text-box">
        <p class="text-justify"> I also offer consulting hours for writing any kind of scientific paper, thanks to having experience in writing and analysing
          scientific articles. In most of them were presented the topic of interior-point methods, linear or weighted linear
          complementarity problem. </p>
        <p class="text-center">Consulting hours: </p>
        <p class="subtitle-font-2">Monday and Tuesday, 18:00-19:00</p>
        <p class="subtitle-font-3">Room 405</p>
      </div>
    </div>

    <div class="col-md-6">
      <p class="subtitle mt-2"> Bachelor/Master thesis</p>
      <div class="bordered-text-box">
        <p class="text-justify"> If your bachelor or master thesis topic is related to any subjects, which you studied with me,
        then please contact me, visit my office at the university and tell me your questions, thoughts. I will try to help you find a solution
          for your problem or hesitation. </p>
        <p class="text-center">Consulting hours: </p>
        <p class="subtitle-font-2">Monday and Tuesday, 19:00-20:00</p>
        <p class="subtitle-font-3">Room 405</p>
      </div>
    </div>

  </div>

</div>

