<p class="page-title">Curriculum Vitae</p>

<div class="container">

  <div class="row">
    <app-infographic></app-infographic>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <p class="center mt-3">If you are more curious about my professional life path, please check my CV:</p>
      <a href="/assets/documents/Zsanett_Jakab_CV.pdf" download class="download-document">
        <p class="text-center">
          <img src="/assets/images/document-icon.png" alt="Document Icon" class="small-icon">
          Zsanett Jakab CV (EN)</p>
      </a>
      <a href="/assets/documents/Zsanett_Jakab_CV.pdf" download class="download-document">
        <p class="text-center">
          <img src="/assets/images/document-icon.png" alt="Document Icon" class="small-icon">
          Zsanett Jakab CV (RO)</p>
      </a>
    </div>
  </div>

</div>


